[submodule "external/DiligentEngine"]
	path = external/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/RmlUi"]
	path = external/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/threepp"]
	path = external/threepp
	url = https://github.com/markaren/threepp.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/earcut"]
	path = external/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "external/manifold"]
	path = external/manifold
	url = https://github.com/elalish/manifold.git
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
